.contact__section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/getcontactbackground.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;
}

.description__box {
  max-width: 600px;
  width: 90%;
  padding: 3rem;
  outline: 0;
  background-color: var(--bg-color);
  margin-left: auto;
  box-sizing: border-box;
  max-height: 36.1875rem; /* 579px */
}

.summary__text {
  font-size: 1rem;
  font-family: Montserrat;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--paragraph-color);
}

.info__box h4 {
  font-size: 1.5rem; /* 24px */
  font-family: Marcellus;
}

.info__box p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  font-family: Montserrat;
  color: var(--main-color);
}

.info__box i {
  color: var(--main-color);
  font-size: 3rem; /* 48px */
  margin-right: 1.25rem; /* 20px */
}

.info__all-elements {
  padding: 0.625rem; /* 10px */
  display: flex;
  align-items: flex-start;
}

.info__group1,
.info__group2 {
  display: flex;
  flex-direction: row;
}

form {
  max-width: 600px;
  width: 90%;
  padding: 3rem;
  justify-content: center;
  background-color: var(--bg-color);
  font-family: Montserrat;
  margin-right: auto;
  box-sizing: border-box;
  max-height: 36.1875rem; /* 579px */
}

.input__group {
  margin-bottom: 1.875rem; /* 30px */
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 0.625rem; /* 10px */
  outline: 0;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: var(--bg-color);
  font-size: 1rem;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.625rem; /* 10px */
  color: var(--main-color);
  cursor: text;
  transition: 0.2s;
}

.contact__button {
  padding: 1rem 0;
  outline: none;
  background: var(--main-color);
  width: 100%;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  transition: all .5s ease;
}

.contact__button:hover {
  background-color: var(--bg-color);
  color: var(--main-color);
  border: 0.5px solid var(--main-color);
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -2.1875rem; /* -35px */
  font-size: 0.875rem; /* 14px */
}

.row__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row__box .input__group {
  flex-basis: 48%;
}

@media (max-width: 64rem) { /* 1024px */
  .contact__section {
    display: flex;
    flex-direction: column;
  }

  .description__box,
  form {
    margin: 0;
  }
}