.service__section {
  text-align: center;
  display: block;
  padding: 6rem 1rem;
}

.service__content-box {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 87.5rem; /* 1400px */
}

.service__section p {
  font-family: Montserrat;
  color: var(--paragraph-color);
  line-height: 2rem;
}

.service__section h4 {
  font-family: Marcellus;
  font-size: 1.5rem; /* 24px */
}

.service__section img {
  height: auto;
  width: 35%;
}

.service__list-row div {
  border: 1px solid var(--main-color);
  padding: 2rem; /* 32px */
  margin: 1rem; /* 16px */
  text-align: left;
}

.service__summary-box p {
  padding: 0 15rem; /* 240px */
  margin-bottom: 0.875rem; /* 14px */
}

.service__list-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 48rem) { /* 768px */
  .service__summary-box p {
    padding: 0;
  }
  .service__list-row div {
    text-align: center;
  }
}