.testimonials__section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 2rem;
}

.testimonials__title {
  display: block;
  padding: 18.75rem 6.25rem 18.75rem 6.25rem;
  font-size: 2.5rem;
  text-align: center;
}

.left-button,
.right-button {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 50%;
  border: none;
  background-color: #412F33;
  color: #fff;
  margin-top: 18.75rem;
}

.left-button {
  margin-left: auto;
  margin-right: 1rem;
}

.right-button {
  margin-right: auto;
  margin-left: 1rem;
}

.testimonial__text {
  text-align: justify;
  width: 22.75rem;
  height: 24.5rem;
  background-color: rgba(50, 50, 50, 0.90);
  color: var(--white);
  border-radius: 2.375rem;
  padding: 12.5rem 2.625rem 6.25rem 2.625rem;
  line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 48rem) { /* 768px */
  .testimonials__section {
    flex-direction: column;
    text-align: center;
  }
  .testimonials__title {
    padding: 10rem 2rem;
    font-size: 2rem;
  }
  .left-button,
  .right-button {
    margin-top: 5rem;
    margin-left: 0;
    margin-right: 0;
  }
  .testimonial__text {
    width: 90%;
    height: auto;
    padding: 4rem 2rem;
  }
}