.contact__section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/getcontactbackground.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 3em;
}

.description__box {
  max-width: 600px;
  width: 90%;
  padding: 48px;
  outline: 0;
  background-color: var(--bg-color);
  justify-content: center;
  margin-left: auto;
  box-sizing: border-box;
  max-height: 579px;
}

.summary__text {
  font-size: 16px;
  font-family: Montserrat;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 2rem;
  color: var(--paragraph-color);
}

.info__box h4 {
  font-size: 24px;
  font-family: Marcellus;
}

.info__box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2rem;
  font-family: Montserrat;
  color: var(--main-color);
}

.info__box i {
  color: var(--main-color);
  font-size: 48px;
  margin-right: 20px;
}

.info__all-elements {
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.info__group1 {
  display: flex;
  flex-direction: row;
}

.info__group2 {
  display: flex;
  flex-direction: row;
}

form {
  max-width: 600px;
  width: 90%;
  padding: 48px;
  justify-content: center;
  background-color: var(--bg-color);
  font-family: Montserrat;
  margin-right: auto;
  box-sizing: border-box;
  max-height: 579px;
}

.input__group {
  margin-bottom: 30px;
  position: relative;
}

input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: var(--bg-color);
  font-size: 16px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: var(--main-color);
  cursor: text;
  transition: 0.2s;
}

.contact__button {
  padding: 16px 0;
  outline: none;
  background: var(--main-color);
  width: 100%;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  transition: all .50s ease;
}

.contact__button:hover {
  background-color: var(--bg-color);
  color: var(--main-color);
  border: 0.5px solid var(--main-color);
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  top: -35px;
  font-size: 14px;
}

.row__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row__box .input__group {
  flex-basis: 48%;
}

@media (max-width: 1024px) {
  .contact__section {
    display: flex;
    flex-direction: column;
  }

  .description__box, form {
    margin: 0;
  }
}